/*
=====================================================================
   a. General Styles
   b. Header Styles

===================================================================== */



/* ------------------------------------------------------------------ */
/* a. General Styles
/* ------------------------------------------------------------------ */

body { background: #ffffff; }

/* ------------------------------------------------------------------ */
/* b. Header Styles
/* ------------------------------------------------------------------ */

header {
  background:#ffffff;
  position: relative;
  height: 100%;
  width: 100%;
}


/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap ul, #nav-wrap li, #nav-wrap a {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

/* nav-wrap */
#nav-wrap {
  font: 12px 'lato', sans-serif;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  position: fixed;
  background:#ffffff;
}


ul.nav li{
  position: relative;
  list-style: none;
  height: 48px;
  display: inline-block;
}

ul#nav li.current a{color:#FE7373;}
ul#nav li.current a:active{color:#FE7373;}

.nav a {text-decoration: none;}
.nav a:link{color: #343434;}
.nav a:visited{color: #343434;}
.nav a:active{color:#FE7373;}
.nav a:hover{color:#FE7373;}

.headergrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.boxa {
  background-color: #FE7373;
  grid-column: 1/6; grid-row:2/6;
}

.boxb {
  background-color: #E29DA8;
  grid-column: 5/10; grid-row:3/7;
}

div.introduction {
  grid-column: 2/9; grid-row:4/6;
  display: inline;
}

.word {
  color: #ffffff;
  font-size: 30px;
}

.word2 {
  color: #ffffff;
  font-weight: normal;
  font-size: 20px;
}

ul.social {
  grid-column: 6/10; grid-row:7/8;
}

ul.social li {
  display: inline-block;
}

.fa-linkedin-in{
  color #343434;
  font-size:25px;
}

a:link .fa-linkedin-in{color: #FE7373;}
a:visited .fa-linkedin-in{color: #FE7373;}
a:active .fa-linkedin-in {color:#343434;}
a:hover .fa-linkedin-in {color:#343434;}

ul.social2 {
  grid-column: 7/10; grid-row:7/8;
}

ul.social2 li {
  display: inline-block;
}

.fa-github{
  color #343434;
  font-size:25px;
}

a:link .fa-github{color: #343434;}
a:visited .fa-github{color: #343434;}
a:active .fa-github {color:#FE7373;}
a:hover .fa-github {color:#FE7373;}

/* ------------------------------------------------------------------ */
/* c. About Styles
/* ------------------------------------------------------------------ */
div.aboutclass{
  font: 12px 'lato', sans-serif;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  padding-top: 30px;
  text-align: center;
}

h2.aboutme {
  margin-top: 50px;
  background: #E29DA8;
  text-align: center;
  color: #ffffff;
}


/* ------------------------------------------------------------------ */
/* d. Resume Styles
/* ------------------------------------------------------------------ */
div.resume1{
  font: 12px 'lato', sans-serif;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  padding-top: 30px;
  text-align: center;
}

h2.resume1 {
  margin-top: 50px;
  background: #FE7373;
  text-align: center;
  color: #ffffff;
}

div.education{
  font: 12px 'lato', sans-serif;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  padding-top: 30px;
  text-align: center;
}

h2.education {
  margin-top: 50px;
  background: #E29DA8;
  text-align: center;
  color: #ffffff;
}

div.skillset{
  font: 12px 'lato', sans-serif;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  padding-top: 30px;
  text-align: center;
}

h2.skillset {
  margin-top: 50px;
  background: #FE7373;
  text-align: center;
  color: #ffffff;
}

/* ------------------------------------------------------------------ */
/* e. contact me
/* ------------------------------------------------------------------ */

div.contact{
  font: 12px 'lato', sans-serif; 
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  padding-top: 30px;
  text-align: center;
}

h2.contact {
  margin-top: 50px;
  background: #E29DA8;
  text-align: center;
  color: #ffffff;
}

p.contact{
  float:left;
  color: #343434;
  width:50%;
  border:1px solid #ffffff;
  padding:10px;
  box-sizing:border-box;
  text-align: left;
}

div.form{
  float:right;
  width:50%;
  border:1px solid #ffffff;
  padding:10px;
  box-sizing:border-box;
  text-align: center;

}

footer.ending{
  font: 12px 'lato', sans-serif;
  color: #343434;
  float:left;
  padding:80px;
}

