/*
=====================================================================
   a. General Styles
   b. Header Styles
   c. About Styles

===================================================================== */



/* ------------------------------------------------------------------ */
/* a. General Styles
/* ------------------------------------------------------------------ */

body { 
  font-family: 'Lato', sans-serif;
  background: #ffffff; }

/* ------------------------------------------------------------------ */
/* b. Header Styles
/* ------------------------------------------------------------------ */

header {
  background:#ffffff;
  position: relative;
  height: 100%;
  width: 100%;
}


/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap ul, #nav-wrap li, #nav-wrap a {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

/* nav-wrap */
#nav-wrap {
  font: 12px 'lato', sans-serif;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  position: fixed;
  background:#ffffff;
}


ul.nav li{
  position: relative;
  list-style: none;
  height: 48px;
  display: inline-block;
}

ul#nav li.current a{color:#FE7373;}
ul#nav li.current a:active{color:#FE7373;}

.nav a {text-decoration: none;}
.nav a:link{color: #343434;}
.nav a:visited{color: #343434;}
.nav a:active{color:#FE7373;}
.nav a:hover{color:#FE7373;}

.headergrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.boxa {
  background-color: #FE7373;
  grid-column: 2/6; grid-row:2/6;
}

.boxb {
  background-color: #E29DA8;
  grid-column: 5/9; grid-row:3/7;
}

div.introduction {
  grid-column: 4/9; grid-row:3/5;
  display: inline;
}


.word {
  color: #ffffff;
  font-size: 40px;
}

.word2 {
  color: #ffffff;
  font-weight: normal;
  font-size: 15px;
}

ul.social {
  grid-column: 9/10; grid-row:6/7;
}

ul.social li {
  display: inline-block;
}

.fa-linkedin-in{
  color #343434;
  font-size:25px;
}

a:link .fa-linkedin-in{color: #FE7373;}
a:visited .fa-linkedin-in{color: #FE7373;}
a:active .fa-linkedin-in {color:#343434;}
a:hover .fa-linkedin-in {color:#343434;}


/* ------------------------------------------------------------------ */
/* c. About Styles
/* ------------------------------------------------------------------ */
div.aboutclass{
  font: 12px 'lato', sans-serif;
  width: 80%;
  margin:auto;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  padding-top: 30px;
  text-align: center;
}

h2.aboutme {
  margin-top: 50px;
  background: #E29DA8;
  text-align: center;
  color: #ffffff;
}

p.aboutparagraph{
  width: 80%;
  margin:auto;
}

/* ------------------------------------------------------------------ */
/* d. Resume Styles
/* ------------------------------------------------------------------ */
div.resume1{
  font: 12px 'lato', sans-serif;
  width: 80%;
  margin: auto;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  padding-top: 30px;
  text-align: center;
}

h2.resume1 {
  margin-top: 50px;
  background: #FE7373;
  text-align: center;
  color: #ffffff;
}

div.education{
  font: 12px 'lato', sans-serif;
  width: 80%;
  margin: auto;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  padding-top: 30px;
  text-align: center;
}

h2.education {
  margin-top: 50px;
  background: #E29DA8;
  text-align: center;
  color: #ffffff;
}

div.skillset{
  font: 12px 'lato', sans-serif;
  width: 80%;
  
  margin: auto;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  padding-top: 30px;
  text-align: center;
}

h2.skillset {
  margin-top: 50px;
  background: #FE7373;
  text-align: center;
  color: #ffffff;
}

/* ------------------------------------------------------------------ */
/* e. contact me
/* ------------------------------------------------------------------ */

div.contact{
  font: 12px 'lato', sans-serif; 
  width: 80%;
  margin: auto;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  padding-top: 30px;
  text-align: center;
}

h2.contact {
  margin-top: 50px;
  background: #E29DA8;
  text-align: center;
  color: #ffffff;
}

p.contact{
  float:left;
  width: 80%;
  margin-left: 80px;
  margin-right: 80px;
  margin-top:10px;
  margin-bottom:10px;
  color: #343434;
  border:1px solid #ffffff;
  padding:10px;
  box-sizing:border-box;
  text-align: center;
}

input[type="text"],
input[type="email"],
textarea,
button
 {
  font-size: 90%;
  font: 'lato', sans-serif;
  width: 90%;
  padding:20px;
  margin: 2px;
  background: #FFFDF2;
  border: none;
  box-shadow:0px 1px 20px 0.25px rgb(245, 242, 242)
}
button{
  font: 'lato', sans-serif;
  width: 25%; 
  color: #343434;
  font-size: 10px;
}
.sociallinks{
  padding-left: 500px;
  font-size: 30px;
}

.sociallinks li{
  float:left; 
  list-style: none;
  padding: 10px;

}

.sociallinks a {text-decoration: none;}
.sociallinks a:link{color: #343434;}
.sociallinks a:visited{color: #343434;}
.sociallinks a:active{color:#FE7373;}
.sociallinks a:hover{color:#FE7373;}

html
{
 scroll-behavior: smooth;
}